.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  background: #282c34;
}

.App-connect__button {
  margin: 0 20px;
  background-color: #7d98a1;
  border: none;
  color: #fff;
}

h3 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
}

form > input {
  margin: 10px 0;
}

.App-header__wallet__info {
  display: flex;
}

.App-network__name {
  margin-right: 20px;
}
